@font-face {
  font-family: 'SF-UI-DISPLAY-MEDIUM-58646BE638F96';
  src: url('https://cdn.jsdelivr.net/gh/snek-byte/menu2@main/SF-UI-DISPLAY-MEDIUM-58646BE638F96.OTF') format('opentype');
}

h1 {
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96", Fallback, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.quote {
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96", Fallback, sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96", sans-serif;
  background-color: #f4f4f4;
}


#hamburger-menu {
  position: relative;
}

#menu-btn {
  font-size: 30px;
  cursor: pointer;
}

#menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #004037;
  color: #4db6ac;
  display: none;
  padding: 100px 50px;
   overflow: auto; 
}

#menu-overlay ul {
  list-style: none;
  padding: 0;
}

.menu-list {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

#close-btn {
    position: absolute;
    left: 0px; 
    top: 50px; /* adjust this value as needed */
    cursor: pointer;
    background: none; /* Remove default button background */
    border: none;     /* Remove default button border */
    padding: 0px;     /* Remove default button padding */
    color: #4db6ac;   /* Set the color to #4db6ac */
    font-size: 2em;   /* Increase the font-size to make the button larger */

}


.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 32px;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96"; 
}

.menu-item a:hover {
  text-decoration: none !important;
}


.submenu {
  list-style-type: none;
  transform: translateX(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96"; 
  font-size: 18px;
}

.submenu li {
  margin: 5px 0;
}
