@font-face {
	font-family: "special elite";
	src: url
 (https://cdn.jsdelivr.net/gh/snek-byte/menu2@main/Special%20Elite-Regular.ttf)
 format('woff2')
}

body {
	margin: 0;
	padding: 0;
	font-family: "special elite", sans-serif;
	background-color: #f4f4f4;
}

#hamburger-menu {
	position: relative;
}

#menu-btn {
	font-size: 30px;
	cursor: pointer;
}

#menu-overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #004037;
   color: #4db6ac;
  z-index: 2;
}

#menu-overlay ul {
  list-style: none;
  padding: 0;
}

.menu-list {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}


#close-btn {
  position: absolute;
  top: 10px;  
  right: 10px; 
  cursor: pointer;
  background: none;
  border: none;
  color: #4db6ac;
  font-size: 2em;
}

.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size:30px;
  font-family: "special elite";
}

.menu-item a:hover {
  text-decoration: none; 
}

.submenu {
  list-style-type: none;
  transform: translateX(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  font-size: 10px;
  font-family: "special elite";
}

.submenu li {
  margin: 5px 0;
}
