@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    font-family: 'Special Elite', cursive;
    background-color: #004037;
}

#hamburger-menu {
	position: relative;
}

#menu-btn {
	font-size: 30px;
	cursor: pointer;
}

#menu {
    position: absolute;
    left: 50px;
	top:150px;
}

 #close-btn {
  position: absolute;
  top: 10px;  
  right: 10px; 
  cursor: pointer;
  background: none;
  border: none;
  color: #4db6ac;
  font-size: 30px;
}

.bullet-point {
    fill: #4db6ac;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#menu > ul > li {
    margin-bottom: 60px;  /* Increasing the space between list items */
}

#menu > ul > li > a {
    font-size: 55px;
    color: #4db6ac;
    text-decoration: none;
}

.sub-menu > li > a {
    font-size: 25px;
    color: #4db6ac;
    text-decoration: none;
}

.sub-menu {
    display: none;
}
