@font-face {
  font-family: 'Pro-Display-Heavy';
  src: url('https://cdn.jsdelivr.net/gh/snek-byte/menu2@main/SF-UI-DISPLAY-MEDIUM-58646BE638F96.OTF') format('opentype');
}

h1 {
  font-family: "SF-UI-DISPLAY-MEDIUM", Fallback, sans-serif;
  font-weight: 900;
  font-style: normal;
}

p.quote {
  font-family: "SF-UI-DISPLAY-MEDIUM", Fallback, sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF-UI-DISPLAY-MEDIUM", sans-serif;
  background-color: #f4f4f4;
}


#hamburger-menu {
  position: relative;
}

#menu-btn {
  font-size: 30px;
  cursor: pointer;
}

#menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #004037;
  color: #4db6ac;
  display: none;
  padding: 100px 50px;
   overflow: auto; 
}

#menu-overlay ul {
  list-style: none;
  padding: 0;
}

.menu-list {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}


#close-btn {
  position: absolute;
  top: 10px;  
  right: 10px; 
  cursor: pointer;
  background: none;
  border: none;
  color: #4db6ac;
  font-size: 2em;
}

.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96"; 
}

.menu-item a:hover {
  text-decoration: none !important;
}


.submenu {
  list-style-type: none;
  transform: translateX(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96"; 
}

.submenu li {
  margin: 5px 0;
}
