@font-face {
  font-family: 'SF-UI-DISPLAY-MEDIUM-58646BE638F96';
  src: url('https://cdn.jsdelivr.net/gh/snek-byte/menu2@main/SF-UI-DISPLAY-MEDIUM-58646BE638F96.OTF') format('opentype');
  
  li { list-style-type: none; 
}

h1 {
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96", Fallback, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.quote {
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96", Fallback, sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96", sans-serif;
  background-color: #f4f4f4;
}


#hamburger-menu {
  position: relative;
}

#menu-btn {
  font-size: 30px;
  cursor: pointer;
  padding: 0px;
   color: #4db6ac;
  font-size: 2em;
}

#close-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 30px;
  color: #4db6ac;
  font-size: 2em;
}

#menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #004037;
  color: #4db6ac;
  display: none;
  padding: 100px 50px;
   overflow: auto; 
}


.menu-list {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  list-style-type: none; 
}


.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 32px;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96"; 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
}

.menu-item a:hover {
  text-decoration: none !important;
}


.submenu {
  list-style-type: none;
  transform: translateX(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  font-family: "SF-UI-DISPLAY-MEDIUM-58646BE638F96"; 
  font-size: 18px;
}

.submenu li {
  margin: 5px 0;
}
